/* Write your code here. */
/*Double tap to SELECT ALL and COPY ALL*/
*{
    font-family: Roboto;
    color: white;
}
.outerNav{
background-image: linear-gradient(to Left,#9796f0, #fbc7d4);
opacity: 0.7;
height: 10vh;
}

.innerNav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{

}
.logoName{
font-weight: 500;
}
.scoreDiv{
    display: flex;
    margin-left: 30%;
    
}
.score{
padding-right: 15px;
}

.topScore{

}
