/* Write your code here. */
/*Double tap to SELECT ALL and COPY ALL*/
* {
  font-family: Roboto;
}

.outer {
  padding: 20px;
  overflow: unset;
}
.imageRow {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.inner {
  min-height: 100vh;
}
.thumbnail {
  width: 80%;
  height: 80%;
}
.heading {
  color: #1e293b;
  font-size: 30px;
}

.para {
  color: #64748b;
  font-size:19px;
}
