/* Write your CSS here */
/*Double tap to SELECT ALL and COPY ALL*/
* {
  margin: 0px;
  padding: 0px;
}
.success {
  fill: #2dca73;
  height: 40px;
  width: 40px;
}

.error {
  fill: #ff0b37;
  height: 40px;
  width: 40px;
}

.warning {
  fill: #ffb800;
  height: 40px;
  width: 40px;
}

.info {
  fill: #0f81e0;
  height: 40px;
  width: 40px;
}
.success {
  color: #2dca73;
  font-weight: 600;
}

.error {
  color: #ff0b37;
  font-weight: 600;
}

.warning {
  color: #ffb800;
  font-weight: 600;
}

.info {
  color: #0f81e0;
  font-weight: 600;
}
.ulEl {
  list-style-type: none;
}

.overall {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 20px;
  height: 10vh;
}

.textPart {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.msgPara {
  margin-top: 10px;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


