/* Write your CSS here */
.eachApp {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 120px;
    border-radius: 10px;
    width:100px
}
.appIcon {
  height: 80px;
  width: 80px;
}
.appName {
    font-family: Bree Serif;
    padding-top: 5px;
    font-size: 12px;
}
