/* Write your CSS here */
*{
    font-family: Roboto
}
.eventOuter{
display: flex;
min-height: 100vh;
}
.leftPart{
    background-color:  #64748b;
    color: white;
    width: 60%;
}
.eventsHeading{
    font-size: 15px;
}
.ulEl{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    
}