* {
  color: white;
}
.color1{
background-color: red;
}
.color2{
   background-color: #14b8a6; 
}
.color3{
    background-color: #f97316;
}
.color4{
    background-color:  #f59e0bed;
}
.color5{
    background-color: #7683cb;
}

.color6{
    background-color:  #0b69ff;
}
.liElement {
  display: flex;
  border: 10px;
  border: 1px solid #7683cb;
  justify-content: space-between;
  align-items: center;
  width: 32%;
  padding: 10px;
  margin: 3px;
  height: 70px;
  border-radius: 5px;
}

.proPic {
  
  border-radius: 40px;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passDataDiv {
    width:100px;
  text-align: left;
}

.websitePara {
  font-size: 13px;
  padding-bottom: 2px;
}

.userName {
  font-size: 10px;
  padding-bottom: 2px;
}

.passwordPara {
  font-size: 10px;
  padding-bottom: 2px;
}

.starsImage {
  height: 14px;
  width: 120px;

}

.deleteIcon {
  height: 20px;
  width: 20px;
}
.deleteBtn {
  border: 0px;
  background-color: transparent;
}
