/* Write your CSS here */
.listC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
  background-color: #0f172a;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 5px;
}
.cardImage {
  height: 50px;
  width: 50px;
}
.cardHead {
  font-size: 15px;
}

.cardResult {
  font-size: 10px;
}

.cardStatLoss {
  font-size: 15px;
  color: #e31a1a;
}
.cardStatWin {
  font-size: 15px;
  color: #18ed66;
}
