/* Write your CSS here */
.loader2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0f172a;
}
.bannerEl {
  height: 140px;
  width: 90%;
  border-radius: 10px;
}
.ulDiv {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  width: 95%;
  justify-content: center;
}
.detailsOuter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #d91c1f, #a4261d,#0f172a);
  padding: 10px;
}
.latestMatchesPara{
     width: 90%;
     color: white;
}

.detailsOuterRCB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #b7c75e, #d1c4c3,#0f172a);
  padding: 10px;
}.detailsOuterKKR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ddc74a, #a4261d,#0f172a);
  padding: 10px;
}.detailsOuterCSK {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #b7f36a, #a4261d,#0f172a);
  padding: 10px;
}.detailsOuterRR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #4e6897, #a4261d,#0f172a);
  padding: 10px;
}.detailsOuterMI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #bee94b, #a4261d,#0f172a);
  padding: 10px;
}.detailsOuterSH {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #db835a, #6c3421,#0f172a);
  padding: 10px;
}.detailsOuterDC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #5969d3f4, #d4c6c5,#0f172a);
  padding: 10px;
}.detailsOuterKXP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #d91c1f, #a37572,white);
  padding: 10px;
}